# k8s/backend-deployment.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: streamhub
data:
  DATABASE_URL: "mongodb+srv://Sumit:Sergioramos4@sandbox.gvrvl.mongodb.net/streamHub"
  MONGODB_URI: "mongodb+srv://Sumit:Sergioramos4@sandbox.gvrvl.mongodb.net/streamHub"
  REDIS_URL: "redis://redis:6379"
  RABBITMQ_URL: "amqp://rabbitmq:5672"
  NODE_ENV: "production"
  PORT: "3001"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: streamhub
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: streamhub-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3001
        envFrom:
        - configMapRef:
            name: backend-config
        env:
        - name: JWT_SECRET
          value: "your-secret-key-change-in-production"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: streamhub
spec:
  selector:
    app: backend
  type: LoadBalancer
  ports:
  - port: 3001
    targetPort: 3001
